$icon-font-path: '../fonts/';

$primary-color: #676c7f;
$second-color:#eaeaea;
$header-color: #FFF;
$third-color: rgba(219, 218, 214, 0.1);
$accent-color:#fa9581;
$text-color:#4C495A;

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body,html {
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0px;
  height:100%;
  font-family: Varela, sans-serif;
}

body > #map-region {
  padding: 85px 0px 30px;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar {
  margin-bottom:0px;
  background:$primary-color;
  border:none;
  border-radius:0;
  height:10px;
  color:#FFF;
  text-transform: uppercase;
  -webkit-animation: fadeIn .25s linear;
  animation: fadeIn .25s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 8px -2px #000;
  .navbar-brand, li, a {
    color:$header-color !important;
  }
}
  
.navbar-brand, #login {
  text-transform: none;
}

#toolbar {
  top: 50px;
  height:35px;
  width:100%;
  position: absolute;
  background:$second-color;
  color:#444;
  opacity: 0;
  -webkit-animation: fadeIn .25s linear;
  animation: fadeIn .25s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  padding-right:13px;
  border-bottom: 1px solid #DDDCDC;
  .tool {
    display: none;
    float: right;
    margin: 5px;
    margin-right: 0px;
    font-size: 0.8em;
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 3px;
    padding-top: 5px;
    background:#f3f3f3;
    &:hover {
      cursor:pointer;
      background:#EAEAEA;
    }
    &.disabled {
      color:#CCC;
      border:1px solid #EEE;
      &:hover {
        background:#f3f3f3;
        cursor:default;
      }
    }
  }
  #edit, #new {
    display: none;
    float: right;
    margin: 5px;
    margin-right: 0px;
    font-size: 0.8em;
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 3px;
    padding-top: 5px;
    background:#f3f3f3;
    &:hover {
      cursor:pointer;
      background:#EAEAEA;
    }
  }
  #new {
    float: left;
    margin-left:13px;
  }
  #camera {
    float: right;
    margin: 5px;
    width: 40px;
    text-align: center;
    margin-right: 0px;
    font-size: 0.8em;
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 3px;
    padding-top: 5px;
    background:#f3f3f3;
    &:hover {
      cursor:pointer;
      background:#EAEAEA;
    }
  }
}


#nprogress .bar {
  //background: #fa9581;
  background: #fff;
}

#nprogress .spinner-icon {
  //border-top-color: #fa9581;
  //border-left-color: #fa9581;
  border-top-color: #fff;
  border-left-color: #fff;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFF, 0 0 5px #FFF;
}


/* Custom page footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left:15px;
  padding-right:15px;
  background:#FDFDFD;
  height:30px;
  padding-top:7px;
  color:#999;
  font-family: Varela,sans-serif;
  font-size:0.9em;
  #footer-urls {
    float: right;
    display: none;
    margin: 5px;
    margin-left: 15px;
    width: 800px;
    margin-top: -28px;
    text-align: right;
  }
}

#map-region {
  width: 100%;
  height:100%;
  #malette {
    top:100px;
    right:13px;
    #malette-header {
      padding: 5px;
      background: #676c7f;
      text-transform: uppercase;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 1em;
      line-height: 1em;
      pointer-events:auto;
      color: #FFF;
      text-shadow: none;
    }
  }
  #overlay-region {
    position: absolute;
    top:100px;
    width:100%;
    bottom:0;
    pointer-events:none;
    #basemaps {
      position: absolute;
      left: 14px;
      bottom: 36px;
      #gray {
        background: url(../images/mundi-gray.jpg);
        background-size: contain;
      }
      #delorme {
        background: url(../images/mundi-delorme.jpg);
        background-size: contain;
      }
      #dark {
        background: url(../images/mundi-dark.jpg);
        background-size: contain;
        opacity: 0.7;
      }
      .change-basemap {
        box-shadow: 0 1px 5px rgba(0,0,0,0.11);
        border: 2px solid #FFF;
        width: 65px;
        height: 65px;
        border-radius: 80px;
        margin-bottom: 5px;
        pointer-events: auto;
        float: left;
        margin-right: 4px;
        &:hover {
          cursor:pointer;
          border:2px solid #999;
        }
      }
    }
  }
  #search-container {
    display: none;
    pointer-events:auto;
    position: relative;
    margin:auto;
    width:400px;
    height:80%;
  }
}

#image-out-container {
  display: none;
  z-index: 1000;
  position: absolute;
  background-color: #FFF;
  width: 500px;
  overflow: hidden;
  height: auto;
  border: 10px solid #FFF;
  right: 5px;
  bottom: 34px;
  canvas {
    width:500px;
  }
  #download {
    text-align:right;
    display: block;
    margin-bottom:5px;
    cursor: pointer;
  }
}

#map {
  width:100%;
  height:100%;
  #legend-container {
    width: 300px;
    position: absolute;
    bottom: 120px;
    left: 15px;
  }
}

#map img {
  //filter: grayscale(100%);
  //-webkit-filter: grayscale(100%); filter: grayscale(100%); 
}

//animations
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes up {
  0% {
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }